/*barra de navegación*/
.navbar {
    padding:2rem;
    background-color: #f5f6f7;
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

.experiencia {
    padding: 40px 40px 60px 40px;
}

.experiencia .columna {
    padding: 20px;
    border: 2px solid#8080804d;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: all 0.2s ease-in;
}

.experiencia .columna:hover {
    color:white;
    background-color: #1b1b32;
}

.experiencia i {
    font-size: 2.5rem;
    color: #a6ffdd;
    background-color: #0a0a23;
    padding: 8px 19px;
    border-radius: 50%;
    
}

/*.experiencia .row div {
    height: 250px;
    background-color: violet;
    border: 3px solid orange;
}*/

.experiencia-titulo {
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0;
    font-family: 'Jura', cursive;
}

.badges-contenedor {
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0px;
}

.badge {
    margin: 5px;
}

/*Proyectos*/
.proyectos-recientes img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    display: block;
    transition: all 0.2s ease;
}

.proyectos-contenedor {
    padding-top: 60px;
    margin-bottom: 40px;
}

.overlay {
    transition: all 0.2s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.overlay p {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}

.proyecto {
    position: relative;
}

.proyecto:hover img {
    opacity: 0.2;
}

.proyecto:hover .overlay {
    opacity: 1;
}

.overlay .iconos-contenedor {
    display: flex;
}

.overlay i {
    color: black;
    font-size: 60px;
    margin: 10px;
}

/*adaptable*/
@media screen and (max-width: 767px) {
    .navbar-brand {
        display:none;
    }
}

/*estilos generales*/
section {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 2.5rem;
    font-family: 'Jura', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
}



.seccion-oscura {
    color:white;
    background-color: #1b1b32;
}

.seccion-clara {
    color: black;
}

.seccion-titulo {
    font-size: 2rem;
    padding: 15px 0;
    font-family: 'Jura', cursive;
}

.seccion-descripcion {
    font-size: 1.2rem;
    color: #584e4e;
}

.seccion-texto {
    font-size: 1.2rem;
}

.texto-negro {
    color: black;
}

.texto-blanco {
    color: white;
}

/*hero*/
.hero {
    background-color: #f5f6f7;
    min-height: 450px;
    text-align: center;
} 

.hero-principal {
    padding: 3rem;
}

/*about me*/
.about-me {
    height: 500px;
    padding: 10px;
}

.about-me .contenedor {
    max-width: 600px;
    text-align: center;
}

.hero-imagen-perfil {
    width: 500px;
    height: 500px;
    margin: 20px;
    border: 1px solid black;
}

.hero-principal h2 {
    font-size: 1.5rem;
    color: #615151;
    font-family: 'Jura', sans-serif;
    /*font-family: 'Nunito', sans-serif;*/
}

@media screen and (min-width: 700px) {
    .hero-inferior-imagen {
        max-width: 600px;
    }
}

